@import '~antd/dist/antd.css';

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  flex-direction: column;
}

.circle-collection {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.circle {
  cursor: pointer;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px;
  border-color: #fd46f5;
}

.circle-small {
  height: 150px;
  width: 150px;
}

.circle-icon {
  color: #fd46f5;
  font-size: 100px;
}

.duration {
  width: 50vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.duration h2 {
  font-size: 90px;
}
